body {
  font-family: 'Noto Sans JP', sans-serif;

  h1 {
      font-size: 50px;
      font-weight: 700;
      color: #001b59;
    }

  h2 {
      font-size: 42px;
      font-weight: 600;
      color: #001b59;
    }

  h3 {
      font-size: 38px;
      font-weight: 400;
      color: #001b59;
    }

}
