#page_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #001B59; }
  body h1 {
    font-size: 50px;
    font-weight: 700; }
  body h2 {
    font-size: 42px;
    font-weight: 600; }
  body h3 {
    font-size: 38px;
    font-weight: 400; }
  body p {
    padding-top: 40px;
    padding-bottom: 40px; }
  body .but {
    border-radius: 50px;
    border-color: #001B59;
    border-width: 5px;
    font-weight: bold;
    font-size: 50px;
    color: #001B59;
    background-color: #e4fdff;
    width: 100px;
    height: 100px; }
  body .but:hover {
    background-color: #001B59;
    border-color: #e4fdff;
    color: #e4fdff; }
  body .but:visited {
    background-color: #e4fdff;
    border-color: #001B59;
    color: #001B59; }
  body nav ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none; }
  body .side-pad {
    padding-left: 15px;
    padding-right: 15px; }
  body .pad-down {
    margin-top: 50px; }
  body .row.nav {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #e4fdff; }
  body .row.mid {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 50px; }
  body .row.foot {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #e4fdff; }
